* {
	box-sizing: border-box;
}

body {
	background: dimgray;
	padding: auto;
	margin: auto;
	overflow: hidden;
}

#screen {
	position: absolute;
	overflow: hidden;
	z-index: 100;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#overlay {
	position: absolute;
	overflow: hidden;
	z-index: 200;
	pointer-events: none;
}

#overlay * {
	pointer-events: all;
}